In [1]:
df_transaction = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv', parse_dates=['de_dt'])
df_product = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-04.상품분류 정보.csv')

In [2]:
df_transaction.tail(1)

,clnt_id,trans_id,trans_seq,biz_unit,pd_c,de_dt,de_tm,buy_am,buy_ct
599960,35311,2839,6,B03,0324,2019-09-27,14:09,6800,1

In [3]:
df0 = df_transaction[['clnt_id', 'pd_c', 'buy_ct']]

In [4]:
df_product.tail(1)

      pd_c          clac_nm1                       clac_nm2       clac_nm3
1666  1667  Women's Clothing  Women's Upper Bodywear / Tops  Women's Vests

In [5]:
df1 = df_product[['clac_nm3']]

#### The Goal
we will build collaborative filtering models for recommending products to customers using purchase data. 
In particular, we'll cover in details the step-by-step process in constructing a recommendation system with Python and machine learning module Turicreate. These steps include:
- Transforming and normalizing data
- Training models
- Evaluating model performance
- Selecting the optimal model

When a customer first taps oh the "order" page, we may recommend top 10 items to be added to their basket, e.g. disposable utensils, fresh meat, chips, and and so on.

- Input : customer ID
- Returns : ranked list of items(product IDs), that the user is most likely to want to put in his/her(empty) "basket"

### Implementation
1. Import modules
- `pandas` and `numpy` for data manipulation
- `turicreate` for performing model selection and evaluation
- `sklearn` for splitting the data into train and test set

In [9]:
import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split