In [1]:
import surprise

In [6]:
df_transaction = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv', parse_dates=['de_dt'])
df_product = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-04.상품분류 정보.csv')

In [7]:
# convert df_product['pd_c'] datatype : int -> object
df_product['pd_c'] = df_product['pd_c'].apply(lambda num: "{:04n}".format(num))

# df_transaction and df_prodcct merge!
df = pd.merge(df_transaction, df_product, how='left')

column_titles = ['clnt_id', 'de_dt', 'pd_c', 'clac_nm1', 'clac_nm2', 'clac_nm3', 'buy_am', 'buy_ct']
df.reindex(columns=column_titles).tail()

,clnt_id,de_dt,pd_c,clac_nm1,clac_nm2,clac_nm3,buy_am,buy_ct
599956,35311,2019-09-27,0339,Cosmetics / Beauty Care,Skin Care,Facial Masks,3500,1
599957,35311,2019-09-27,0339,Cosmetics / Beauty Care,Skin Care,Facial Masks,3600,2
599958,35311,2019-09-27,0339,Cosmetics / Beauty Care,Skin Care,Facial Masks,3500,1
599959,35311,2019-09-27,0339,Cosmetics / Beauty Care,Skin Care,Facial Masks,4500,1
599960,35311,2019-09-27,0324,Cosmetics / Beauty Care,Makeup,Nail Stickers / Stones,6800,1

In [5]:
from surprise.model_selection import KFold

bsl_options = {
    'method': 'als',
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}
algo = surprise.BaselineOnly(bsl_options)

np.random.seed(0)
acc = np.zeros(3)
cv = KFold(3)
for i, (trainset, testset) in enumerate(cv.split(df_transaction)):
    algo.fit(trainset)
    predictions = algo.test(testset)
    acc[i] = surprise.accuracy.rmse(predictions, verbose=True)
acc.mean()

AttributeError: 'DataFrame' object has no attribute 'raw_ratings'