In [2]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve

In [3]:
# df_action = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-01.온라인 행동 정보.csv', parse_dates=['sess_dt'])
df_transaction = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv', parse_dates=['de_dt'])
# df_client_demo = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-03.고객 Demographic 정보.csv')
df_product = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-04.상품분류 정보.csv')

In [4]:
# convert df_product['pd_c'] datatype : int -> object
df_product['pd_c'] = df_product['pd_c'].apply(lambda num: "{:04n}".format(num))

# df_transaction and df_prodcct merge!
df_transaction = pd.merge(df_transaction, df_product, how='left')

In [5]:
print(df_transaction.shape)
df_transaction.tail()

(599961, 12)

,clnt_id,trans_id,trans_seq,biz_unit,pd_c,de_dt,de_tm,buy_am,buy_ct,clac_nm1,clac_nm2,clac_nm3
599956,35311,2839,3,B03,0339,2019-09-27,14:09,3500,1,Cosmetics / Beauty Care,Skin Care,Facial Masks
599957,35311,2839,4,B03,0339,2019-09-27,14:09,3600,2,Cosmetics / Beauty Care,Skin Care,Facial Masks
599958,35311,2839,5,B03,0339,2019-09-27,14:09,3500,1,Cosmetics / Beauty Care,Skin Care,Facial Masks
599959,35311,2839,2,B03,0339,2019-09-27,14:09,4500,1,Cosmetics / Beauty Care,Skin Care,Facial Masks
599960,35311,2839,6,B03,0324,2019-09-27,14:09,6800,1,Cosmetics / Beauty Care,Makeup,Nail Stickers / Stones

In [6]:
df_product.head()

,pd_c,clac_nm1,clac_nm2,clac_nm3
0,0001,Automotive Products,Automotive Replacement Repair / Maintanance Kits,Automobile Oil / Additives
1,0002,Automotive Products,Automotive Replacement Repair / Maintanance Kits,Car Lights
2,0003,Automotive Products,Automotive Replacement Repair / Maintanance Kits,Car Paint
3,0004,Automotive Products,Automotive Replacement Repair / Maintanance Kits,Filters
4,0005,Automotive Products,Automotive Replacement Repair / Maintanance Kits,Wiper Blades

In [7]:
df = df_transaction[['clnt_id', 'pd_c', 'buy_ct']]
grouped_df =df.groupby(['clnt_id', 'pd_c']).sum().reset_index()

# Replace a sum of zero purchases with a one to
# indicate purchased
grouped_df.buy_ct.loc[grouped_df.buy_ct == 0] = 1

### Instead of representing an explicit rating, the purchase quanity can represent a "confidence" in terms of how strong the interaction was.

In [8]:
# Only get customers where purchase totals were positive
grouped_purchased = grouped_df.query('buy_ct > 0')
grouped_purchased.head()

   clnt_id  pd_c  buy_ct
0        2  0092      26
1        2  0151       1
2        2  0186       1
3        2  0189       1
4        2  0351       1

In [9]:
customers = list(np.sort(grouped_purchased.clnt_id.unique()))
products = list(grouped_purchased.pd_c.unique())
quantity = list(grouped_purchased.buy_ct)

In [12]:
rows = grouped_purchased.clnt_id.astype('category').cat.codes
cols = grouped_purchased.pd_c.astype('category').cat.codes
purchases_sparse = sparse.csr_matrix((quantity, (rows, cols)), shape=(len(customers), len(products)))

In [13]:
purchases_sparse

<11284x1668 sparse matrix of type '<class 'numpy.int64'>'
	with 332184 stored elements in Compressed Sparse Row format>

In [14]:
purchases_sparse.shape[0]

11284

In [15]:
# 98.3% of the interaction matrix is sparse.
matrix_size = purchases_sparse.shape[0] * purchases_sparse.shape[1]
# Number of items interacted with
num_purchases = len(purchases_sparse.nonzero()[0])
sparsity = 100 * (1 - (num_purchases/matrix_size))
sparsity

98.23510209910768

### Creating a Traning and Validation Set

In [16]:
import random

This will return our training set, a test set that has been binarized to 0/1 for purchased/not purchased, and a list of which users had at least one item masked. We will test the performance of the recommender system on these users only. I am masking 20% of the user/item interactions for this example.

In [17]:
def make_train(reating, pct_test=0.2):
    '''
    This function will take in the original user-item matrix and "mask" a percentage of the original ratings where a
    user-item interaction has taken place for use as a test set. The test set will contain all of the original ratings, 
    while the training set replaces the specified percentage of them with a zero in the original ratings matrix. 
    
    parameters: 
    
    ratings - the original ratings matrix from which you want to generate a train/test set. Test is just a complete
    copy of the original set. This is in the form of a sparse csr_matrix. 
    
    pct_test - The percentage of user-item interactions where an interaction took place that you want to mask in the 
    training set for later comparison to the test set, which contains all of the original ratings. 
    
    returns:
    
    training_set - The altered version of the original data with a certain percentage of the user-item pairs 
    that originally had interaction set back to zero.
    
    test_set - A copy of the original ratings matrix, unaltered, so it can be used to see how the rank order 
    compares with the actual interactions.
    
    user_inds - From the randomly selected user-item indices, which user rows were altered in the training data.
    This will be necessary later when evaluating the performance via AUC.
    '''
    # Make a copy of the original set to be the test set. 
    test_set = rating.copy()
    # Store the test set as a binary preference matrix
    test_set[test_set != 0] = 1
    # Make a copy of the original data we can alter as our training set.
    training_set = ratings.copy()
    # Find the indices in the ratings data where an interaction exists
    nonzero_idns = training_set.nonzero() 
    # Zip these pairs together of user,item index into list
    nonzero_pairs = list(zip(nonzero_inds[0], nonzero_inds[1]))
    # Set the random seed to zero for reproducibility
    random.seed(0)
    # Round the number of samples needed to the nearest integer
    num_samples = int(np.ceil(pct_test*len(nonzero_pairs)))
    # Sample a random number of user-item pairs without replacement
    samples = random.sample(nonzero_pairs, num_samples)
    # Get the user row indices
    user_inds = [index[0] for index in samples]
    # Get the item column indices
    item_inds = [index[1] for index in samples]
    # Assign all of the randomly chosen user-item pairs to zero
    training_set[user_inds, item_inds] = 0 
    # Get rid of zeros in sparse array storage after update to save space
    training_set.eliminate_zeros()
    
    # Output the unique list of user rows that were altered 
    return training_set, test_set, list(set(user_inds))